<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>

    @{
        var newTheme = WebApp.Site.GetContentAsync<MainSite>().Result?.Theme?.Value;
        var theme = string.IsNullOrEmpty(newTheme) ? "slate" : newTheme;
    }
    <link href="~/assets/lib/bootstrap/theme/@theme/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" asp-append-version="true">

    @RenderSection("head", required: false)
</head>

<body>
    @*<nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="~/">Piranha CMS <small>8.4</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    @foreach (var item in WebApp.Site.Sitemap.Where(i => !i.IsHidden))
                    {
                    <li class="nav-item@(item.Id == WebApp.PageId || item.HasChild(WebApp.PageId) ? " active" : "")">
                        <a class="nav-link" href="@WebApp.Url(item)">@item.MenuTitle</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>*@
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">@WebApp.Site.Description.Title</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    @foreach (var item in WebApp.Site.Sitemap.Where(i => !i.IsHidden))
                    {
                    <li class="nav-item@(item.Id == WebApp.PageId || item.HasChild(WebApp.PageId) ? " active" : "")">
                        <a class="nav-link" href="@WebApp.Url(item)">@item.MenuTitle</a>
                    </li>
                    }
                </ul>
                @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            </div>
        </div>
    </nav>

    @RenderBody()


    <script src="~/assets/lib/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="~/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
